@import '../../../../styles/style.scss';

.current-date-item {
	display: flex;
	padding: 0px 10px;
	margin-bottom: 15px;

	@include media-breakpoint-down(sm) {
		flex-direction: column;
		margin-bottom: 10px;
	}

	.current-date-item-date {
		color: $color__blue;
		padding-right: 10px;

		@include media-breakpoint-up(md) {
			border-right: 2px solid $color__blue;
		}

		@include media-breakpoint-down(sm) {
			margin-bottom: 5px;
		}

		font: {
			family: Roboto-Bold;
		}
	}

	.current-date-item-label {
		flex: 1;
		margin-left: 10px;

		@include media-breakpoint-up(sm) {
			margin-right: 10px;
		}
	}
}
