$color__white: #ffffff;
$color__blue: #13a9df;
$color__dblue: #1976d2;
$color__green: #44bd32;
$color__red: #e84118;
$color__yellow: #fbc531;
$color__gray_100: #fafafa;
$color__gray_200: #e9e9e9;
$color__gray_300: #b3b3b3;
$color__gray_400: #818181;
$color__gray_500: #2f2f2f;
