table {
	th, td {
		padding: 6px 15px;
		color: white;
	}

	th {
		background: $color__dblue;
	}

	td {
		background: $color__blue;

		&.highlight{
			font-family:Roboto-Bold;
		}
	}

	tr{
		&.header{
			background-color:$color__gray_500;

			td{
				background-color:transparent;
				font-family:Roboto-Bold;
			}
		}
	}
}

.table_responsive {
	width: 100%;
	overflow-x: auto;
}