@import '../../styles/style.scss';

.c-CoursesTabs {
	display: flex;
	width: 100%;
	background: white;
	height: 55px;
	border: 1px solid $color__gray_200;
	border-radius: 3px;
	overflow-x: auto;

	&__item {
		transition: color .3s ease;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		height: 100%;
		padding: 0 20px;
		font-weight: 400;
		color: $color__gray_400;

		&:last-child {
			padding-right: 20px;
		}

		&:hover {
			cursor: pointer;
			color: $color__gray_500;
			text-decoration: none;
		}

		&::before {
			content: "";
			display: none;
			position: absolute;
			bottom: 0px;
			left: 0;
			width: 100%;
			height: 2px;
			background: $color__blue;
		}

		&--is-active {
			color: $color__blue;

			&::before {
				display: block;
			}

			&:hover {
				color: $color__blue;
			}
		}
	}
}

.course-detail{
	.course-detail-grades{
		.current-status-table{
			width:100%;
		}
	}

	.course-detail-examinations{
		.examinations-table{
			width:100%;
		}
	}

	.course-detail-projects{
		.projects-table{
			width:100%;
		}
	}

	.course-detail-practice{
		.practice-dates-table{
			width:100%;
		}
	}
}